:root {
  --color-light: #FFFFFF;
  --color-light-alt: #EFEFEF;
  --color-dark: #232323;
  --color-accent: #833CFE;

  --border-radius-large: 30px;
  --border-radius-small: 10px;

  --border: 1px solid #D7D7D7;

  --button-padding-y: 20px;
  --button-padding-x: 100px;
  --button-padding-x-small: 60px;

  --input-width: 500px;
  --input-height: 100px;

  --font-family-base: 'Montserrat', sans-serif;
  --font-family-title: 'Unbounded', sans-serif;
  --font-family-add: 'FuturaMediumC', sans-serif;

  --container-width: 1824px;
  --container-padding-x: 15px;

  --transition-duration: .2s;
}