{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<body class="body__form">
<main class="content">
    <section class="section">
        <div class="respass">
            <img src="{% static 'images/auth/resetpasswordconfirm.png' %}" alt="" width="1241" height="1080" loading="lazy" class="respass__image form__image">
            <div class="respass__inner form__inner">
                <div class="respass__body-wrapper form__body-wrapper">
                    <div class="respass__body form__body">
                        <img src="{% static 'images/logo.svg' %}" width="60" height="60" loading="lazy" alt="" class="respass__logo form__logo">

                        <form action="" class="respass__form form" method="post">
                            {% csrf_token %}
                            <h2 class="respass__title form__title">Сброс Пароля</h2>
                            {% render_field form.new_password1 class+="respass__input form__input" placeholder='Пароль' autocomplete="new-password" %}
                            {% render_field form.new_password2 class+="respass__input form__input" placeholder='Повторить Пароль' autocomplete="new-password" %}
                            {% for error in form.errors.values %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                            <button class="respass__button form__button button">Продолжить</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
{% endblock %}