{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="body__form">
<main class="content">
    <section class="section">
        <div class="respass">
            <img src="{% static 'images/auth/resetpassworddone.png' %}" alt="" width="1241" height="1080" loading="lazy" class="respass__image form__image">
            <div class="respass__inner form__inner">
                <div class="respass__body-wrapper form__body-wrapper">
                    <div class="respass__body form__body">
                        <img src="{% static 'images/logo.svg' %}" width="60" height="60" loading="lazy" alt="" class="respass__logo form__logo">
                        <p class="respass__text form__text">Мы отправили
                            вам на почту письмо</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
{% endblock %}