{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body class="body__form">
<main class="content">
    <section class="section">
        <div class="order">
            <img src="{% static 'images/order/order.png' %}" alt="" width="1241" height="1080" loading="lazy" class="order__image form__image">
            <div class="order__inner form__inner">
                <div class="order__body-wrapper form__body-wrapper">
                    <div class="order__body form__body">

                        <img src="{% static 'images/logo.svg' %}" width="60" height="60" loading="lazy" alt="" class="order__logo form__logo">

                        <form action="" class="register__form form" method="post">
                            {% csrf_token %}
                            <h2 class="order__title form__title">Заказ</h2>
                            {% render_field form.first_name class+="register__input form__input" placeholder="Имя" autocomplete="new-password" %}
                            {% render_field form.last_name class+="register__input form__input" placeholder="Фамилия" autocomplete="new-password" %}
                            {% render_field form.email class+="register__input form__input" placeholder="Почта" autocomplete="new-password" %}
                            {% render_field form.city class+="register__input form__input" placeholder="Город" autocomplete="new-password" %}
                            {% render_field form.address class+="register__input form__input" placeholder="Адрес" autocomplete="new-password" %}
                            {% render_field form.postal_code class+="register__input form__input" placeholder="Почтовый индекс" autocomplete="new-password" %}
                            <span class="order__price">{{ cart.get_total_price|floatformat:0 }}₽</span>
                            <button class="register__button form__button button" type="submit">Заказать</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
{% endblock %}