{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body>
    <header class="header">
        <div class="header__inner container">
            <div class="header__left">
                <a href="{% url 'main:product-list' %}" class="header__logo logo">
                    <img src="{% static 'images/logo.svg' %}" loading="lazy" alt="" width="66" height="66" class="logo__image">
                </a>
                <div class="header__search">
                    <img src="{% static 'images/main/search.svg' %}" loading="lazy" width="24" height="24" alt="" class="header__search-icon">
                    <input type="search" placeholder="Поиск" class="header__search-input">
                </div>
            </div>

                <div class="header__right">
                    <div class="header__icons">
                        <a href="{% url 'main:favorites' %}" class="header__favorites-link">
                            <img class="header__favorites header__icon" loading="lazy" src="{% static 'images/main/heart.svg' %}" width="38" height="38" alt="">
                        </a>
                        <a href="{% url 'cart:cart_detail' %}" class="header__cart-link">
                            <img class="header__cart header__icon" loading="lazy" src="{% static 'images/main/shopping-bag.svg' %}" width="38" height="38" alt="">
                        </a>
                    </div>
                    <a class="header__profile" href="{{ request.user.get_absolute_url }}">
                        {% if request.user.avatar %}
                            <img src="{{ request.user.avatar.url }}" width="44" height="44" loading="lazy" alt="" class="header__profile-photo">
                        {% else %}
                            <img src="{% static 'images/logo.svg' %}" width="44" height="44" loading="lazy" alt="" class="header__profile-photo">
                        {% endif %}

                        <span class="header__profile-name">{{ request.user }}</span>
                    </a>
                </div>
            </div>
    </header>

    <main class="content">
        <section class="section">
            <div class="product">
                <div class="product__inner container">
                    <img src="{{ product.image.url }}" width="650" height="650" loading="lazy" alt="" class="product__image">
                    <div class="product__body">
                        <h2 class="product__title">{{ product.name }}</h2>

                        <span class="product__price price">{{ product.price|floatformat:0 }}₽</span>

                        <div class="product__buttons">
                            <form action="{% url 'cart:cart_add' product.id product.slug %}" method="post" class="cart__form">
                                <ul class="product__sizes">
                                    {% for size in cart_product_form.size %}
                                        <label class="product__size" {% if checked %}class="product__size--active"{% endif %}>

                                            {{ size.tag }} {{ size.choice_label }}
                                        </label>
                                    {% endfor %}
                                </ul>
                                <div class="cart__form-buttons">
                                    <button class="product__button-cart button">В корзину</button>

                                    {% render_field cart_product_form.quantity class+="cart__input" %}
                                    {% render_field cart_product_form.override %}
                                </div>
                                {% csrf_token %}
                            </form>
                            <form action="{% url 'main:favorite-add' product.id product.slug %}" method="post" class="product__favorites-form">
                                {% csrf_token %}
                                {% if product not in request.user.favorites.all %}
                                <button class="product__button-favorites" type="submit"><img src="{% static 'images/product/heart.svg' %}" width="36" height="36" alt=""
                                                                               class="product__button-favorites-image"></button>
                                {% else %}
                                    <button class="product__button-favorites product__button-favorites--active" type="submit"><img src="{% static 'images/product/heart-active.svg' %}" width="36" height="36" alt=""
                                                                               class="product__button-favorites-image"></button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}